.page {
    max-width: 468px;
    margin: auto;
}

.title {
    font-size: 24px;
    position: relative;
    top: -2px;
}

.badge {
    height: 27px;
    line-height: 1;
}

.name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.nft {
    margin-bottom: 20px;
}

.image {
    padding: 8px;
    border-radius: 12px;
    background: #171D2A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}
.tweetText {
    margin-bottom: 8px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.64);
    display: flex;
    gap: 8px;
    align-items: center;
}

button.tweetBtn {
    padding: 13px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.resultBtn {
    display: block;
    background: transparent;
    font-family: inherit;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 16px;
    border: 1px solid #303044;
    padding: 11px;
    cursor: pointer;
    flex-grow: 1;
}

.chainInfo {
    margin-bottom: 16px;
}

.chainInfo > strong {
    font-size: 16px;
}

.chainLabel {
    font-size: 16px !important;
}

.bridge {
    margin-bottom: 24px;
}


@media screen and (max-width: 768px) {
    .title {
        font-size: 20px;
    }

    .titleIcon {
        width: 24px;
        height: 24px;
    }

    .name {
        font-size: 16px;
    }

    .chainInfo {
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .chainInfo > strong {
        font-size: 14px;
    }

    .chainLabel {
        font-size: 14px !important;
    }
}

@media screen and (max-width: 440px) {
    .tweetButtons {
        flex-direction: column !important;
        align-items: stretch !important;
    }
}