@import '../../../../utils/mediaBreakpoints/mediaBreakpointsVariables.scss';

.wrapper {
  gap: 2px;
  align-items: center;
  margin-bottom: 24px;
}

.chainsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1 0 calc(1% + 20px);
}

.chains {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  width: 100%;

  max-height: 50vh;
  overflow-y: overlay;
  padding: 10px 10px 10px 12px;
}

.clearButton {
  width: fit-content;
  background: transparent;
  border: 0;
  padding: 4px 8px;
  color: #B087F3A3;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.formChain {
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 8px;

  padding: 12px;
  border: 1px solid #B087F3A3;
  border-radius: 12px;
  box-shadow: 0px 0px 12px 0px #B087F340;
  background: #FFFFFF0A;

  width: 100%;

  > span {
    padding-inline-start: 0;
    padding-inline-end: 0;

    &:last-of-type {
      flex: 1;
    }
  }

  &:after {
    content: none !important;
  }

  :global(.ant-checkbox-inner) {
    background-color: transparent !important;
    border-color: #B087F3 !important;
    box-shadow: inset 0px 0px 12px 0px #B087F33D;
    width: 20px;
    height: 20px;
    border-radius: 4px;

    &:after {
      border-color: #B087F3;
      inset-inline-start: 28%;
    }
  }
}

.formField {
  margin-bottom: 0 !important;
  width: 100%;
}

.chainLabelWrapper {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.chainName {
  font-size: 14px;
  font-weight: 600;
  color: #fff
}

.chainLabel {
  display: flex;
  align-items: center;
  gap: 10px
}

.sourceChainWrapper {
  flex: 1;
  margin-right: 10px;
}

.multipleMintImage {
  display: block;
}

.chainSkeleton {
  height: 50px;
  width: 100% !important;

  span {
    width: 100% !important;
    height: 50px !important;
  }
}

.price {
  opacity: 0.64;
  color: #fff
}

@media screen and (max-width: $breakpoint-tablet) {
  .chains {
    max-height: 45vh;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .wrapper {
    flex-direction: column;
    gap: 4
  }

  .chains {
    width: 100%;
    max-height: 40vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
  }

  .sourceChainWrapper {
    width: 100%;
    margin-right: 0;
  }

  .multipleMintImage {
    transform: rotate(90deg);
  }

  .chainLabelWrapper {
    align-items: center;
    flex-direction: column;
  }

  .formChain {
    position: relative;
    width: calc(50% - 8px);

    padding: 8px;
    gap: 0;
  
    :global(.ant-checkbox) {
      position: absolute;
      top: 6px;
      right: 6px;
    }
  }

  .chainSkeleton {
    width: calc(50% - 8px) !important;
    height: 72px !important;
    
    span {
      height: 72px !important;
    }
  }

  .mintBonusImage {
    width: 48px;
    height: 42px;
  }
}
