.card {
    position: relative;
    width: 240px;
    height: 240px;
    border-radius: 12px;
    border: 1px solid #A46CFF;
    cursor: pointer;
    transition: 0.3s ease-out;
    overflow: hidden;
}

.card:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 0.3s ease-out;
    box-shadow: 0px 0px 42px 0px rgba(176, 135, 243, 0.32) inset;
}

.card:hover {
    border-color: #2EA5FB;
    transform: translateY(-3px);
}

.card:after {
    box-shadow: 0px 0px 42px 0px rgba(176, 135, 243, 0.48) inset, 0px 8px 32px 0px rgba(176, 135, 243, 0.16);
}

.card:hover .footer > div > div {
    opacity: 1;
    transition: 0.4s ease-out;
}

.card:hover .footer > div:before {
    opacity: 1;
}

.card:hover .image {
    transform: scale(1.05);
}

.card:hover .footer {
    padding-bottom: 18px;
    opacity: 1;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 11px 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.4s ease-out;
}

.footer > div {
    position: relative;
    padding: 4px 8px;
    overflow: hidden;
}

.footer > div > div {
    position: relative;
    z-index: 1;
    opacity: 0.52;
}

.footer > div:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 34px;
    opacity: 0.32;
    background: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(16px);
    transition: 0.3s ease-out;
}

.image {
    margin: 0 -8px;
    border-radius: 12px;
    height: 100%;
    overflow: hidden;
    transition: 0.4s ease-out;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

.name {
    font-size: 16px;
    font-weight: 600;
}

.xp {
    margin-top: 11px;
}

.xp span {
    opacity: 0.64;
}

@media screen and (max-width: 768px) {
    .card {
        padding: 8px;
        border-radius: 8px;
        gap: 8px !important;
    }

    .image {
        padding: 4.79px;
        margin: 0;
        height: 134px;
        border-radius: 7.19px;
    }

    .name {
        font-size: 12.679px;
    }

    .xp {
        margin-top: 4px;
    }

    .xp img {
        width: 16px;
    }

    .xp span {
        font-size: 10px;
    }
}