.wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrapper > div {
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

button.connectorBtn {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
}

.closeIcon {
    display: none;
    padding: 8px;
    cursor: pointer;
    margin-left: auto;
}


@media screen and (max-width: 768px) {
    .closeIcon {
        display: block;
    }
}