.tag {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.04);
    padding: 4px 5px;
    color: rgba(255, 255, 255, 0.24);
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
}