.button {
    outline: 0;
    color: #fff;
    font-weight: 600;
    padding: 16px 20px;
    font-family: inherit;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    transition: 300ms ease-out;
    text-align: center;
    border: none;
    background: linear-gradient(180deg, rgba(176, 135, 243, 0.78) 0%, rgba(151, 87, 255, 0.78) 100%);
}

.button:not(:disabled) {
    border: 1px solid #B087F3;
}

.button:hover {
    background: linear-gradient(180deg, #B087F3 0%, #9757FF 100%);
}

.button:active {
    transform: scale(0.97);
}

.block {
    display: block;
    width: 100%;
}

.small {
    font-size: 12px;
    font-weight: 500;
    padding: 6px 8px;
    border-radius: 8px;
}

.rounded {
    background: linear-gradient(122deg, #B087F3 9.89%, #B087F3 73.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #B087F3;
}

.rounded:hover {
    box-shadow: none;
    background: linear-gradient(122deg, #2EA5FB, #4340E1);
    color: #fff;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: #fff;
}

.button:disabled {
    background: #272B32;
    color: #464A51;
    box-shadow: none;
    cursor: not-allowed;
}

.rounded:disabled {
    box-shadow: none;
    background: transparent;
    border-color: rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.64);
    -webkit-text-fill-color: rgba(255, 255, 255, 0.64);
}