.button {
    outline: 0;
    background: linear-gradient(170deg, #2EA5FB, #4340E1);
    color: #fff;
    font-weight: 600;
    padding: 16px 20px;
    font-family: inherit;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    transition: 300ms ease-out;
    text-align: center;
}

.button:hover {
    box-shadow: 0 2px 12px 0 rgba(53, 102, 196, 0.80);
}

.button:active {
    transform: scale(0.95);
}

.block {
    display: block;
    width: 100%;
}

.small {
    font-size: 12px;
    font-weight: 500;
    padding: 6px 8px;
    border-radius: 8px;
}

.rounded {
    background: linear-gradient(122deg, #2EA5FB 9.89%, #4340E1 73.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #4340E1;
}

.rounded:hover {
    box-shadow: none;
    background: linear-gradient(122deg, #2EA5FB, #4340E1);
    color: #fff;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: #fff;
}

.button:disabled {
    background: #272B32;
    color: #464A51;
    box-shadow: none;
    cursor: not-allowed;
}

.rounded:disabled {
    box-shadow: none;
    background: transparent;
    border-color: rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.64);
    -webkit-text-fill-color: rgba(255, 255, 255, 0.64);
}