.nav {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: #161D27;
    box-shadow: 0 4px 32px 0 rgba(100, 123, 205, 0.32);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.link {
    color: rgba(255, 255, 255, .6);
    border-radius: 8px;
    transition: .3s ease-out;
    position: relative;
    overflow: hidden;
}

.link > div {
    padding: 4px 12px;
    min-height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    z-index: 1;
}

.link:before {
    content: '';
    position: absolute;
    transition: .3s ease-out;
    background: linear-gradient(122deg, #2EA5FB, #4340E1);
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.linkActive {
    color: #fff;
}

.linkActive:before {
    opacity: 1;
    visibility: visible;
}

.link:hover {
    color: #fff;
    background: rgba(255, 255, 255, .04);
}

.link:global(.meme):before {
    visibility: visible;
    opacity: 1;
}

.link:global(.meme):after {
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    left: 1px;
    top: 1px;
    border-radius: 8px;
    background: #161D27;
}

.link:global(.meme) > div {
    padding: 4px 24px;
    background: linear-gradient(122deg, #2EA5FB, #4340E1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s ease-out;
}
.link:global(.meme):hover > div {
    padding: 4px 12px 4px 36px;
}

.link:global(.meme) > div:before {
    content: '';
    width: 42px;
    height: 42px;
    position: absolute;
    left: -50px;
    top: 0;
    background-image: url('/pepe.png');
    background-size: contain;
    transition: .3s ease-out;
}
.link:global(.meme):hover > div:before {
    left: 0;
}