.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}

.wrapperHeader,
.wrapperFooter {
    flex-shrink: 0;
}

.main {
    flex: 1;
    padding: 20px;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
}

.bg > div {
    position: relative;
}

.bgHero {
    position: absolute;
    width: 576px;
    height: 576px;
    right: 12px;
    top: 88px;
    background: url('/svg/hero.svg') no-repeat center;
}

.main:before,
.bg:before,
.bg:after {
    content: '';
    position: fixed;
    opacity: 0.54;
    border-radius: 50%;
    z-index: -1;
    pointer-events: none;
}

.main:before {
    width: 804px;
    height: 804px;
    background: #343D8E;
    filter: blur(201px);
    -webkit-filter: blur(201px);
    left: -216px;
    top: -187px;
}

.bg:before {
    width: 696px;
    height: 629px;
    background: #05DFEA;
    filter: blur(238px);
    -webkit-filter: blur(238px);
    right: -68px;
    top: 45px;
}

.bg:after {
    width: 804px;
    height: 804px;
    background: #512BBD;
    filter: blur(201px);
    -webkit-filter: blur(201px);
    top: 197px;
    right: -87px;
}


@media screen and (max-width: 768px) {
    .main {
        padding: 16px 0;
    }

    .main:before {
        width: 320px;
        height: 320px;
        left: -124px;
        filter: blur(39px);
        -webkit-filter: blur(39px);
    }

    .bg:before {
        width: 377px;
        height: 341px;
        right: -207px;
        top: -8px;
        filter: blur(46px);
        -webkit-filter: blur(46px);
    }

    .bg:after {
        width: 436px;
        height: 436px;
        top: 120px;
        right: -218px;
        filter: blur(39px);
        -webkit-filter: blur(39px);
    }

    .bgHero {
        display: none;
    }
}