.bridgeTitle > span {
    color: rgba(255, 255, 255, 0.64);
}

.bridgeTitle.successful > span {
    margin-right: 4px;
}

.switch > span {
    flex-grow: 1;
}

.dropdown {
    flex-grow: 1;
}

.sendBtn {
    width: 89px;
    flex-shrink: 0;
}

.bridgeScheme {
    padding: 12px 8px;
    border-radius: 12px;
    background-color: #171d2a;
}

.label {
    flex-grow: 1;
}

.footer {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.footerPending:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.15;
    z-index: 100;
}

.pending {
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}

@media screen and (max-width: 768px) {
    .formActions {
        flex-direction: column !important;
    }

    .sendBtn {
        width: auto;
    }
}