.bridgeTitle {
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
}

.bridgeTitle > span {
    color: #2DAD70;
    font-size: 12px;
    font-weight: 600;
}

.bridgeTitle.successful > span {
    margin-right: 4px;
}

.switch > span {
    flex-grow: 1;
}

.dropdown {
    flex-grow: 1;
}

.sendBtn {
    flex-shrink: 0;
}

.label {
    flex-grow: 1;
}

.bridgeSuccessful {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.32);
    background: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(2px);
    padding: 8px 12px;
}

.footer {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.footerPending:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.15;
    z-index: 100;
}

.pending {
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
}

@media screen and (max-width: 768px) {
    .formActions {
        flex-direction: column !important;
    }

    .sendBtn {
        width: auto;
    }
}