@import '../../utils/mediaBreakpoints/mediaBreakpointsVariables.scss';

.tabs {
    & :global(.ant-tabs-nav-wrap, .ant-tabs-nav-list) {
        flex: 1
    }

    & :global(.ant-tabs-tab) {
        flex: 1;
        justify-content: center;
        opacity: 0.32;
    }

    & :global(.ant-tabs-tab-active) {
        opacity: 1;
    }
}

.image {
    display: block;
    width: auto;
}

@media screen and (max-width: $breakpoint-mobile) {
    .tabs {
        & :global(.ant-tabs-nav-list .ant-tabs-tab) {
            padding: 7px 0 !important;
        }
    }

    .image {
        height: 20px;
    }
}