@import '../../utils/mediaBreakpoints/mediaBreakpointsVariables.scss';

.tabs {
    & :global(.ant-tabs-nav-wrap, .ant-tabs-nav-list) {
        flex: 1
    }

    & :global(.ant-tabs-tab-btn) {
        display: flex;
    }

    & :global(.ant-tabs-tab) {
        flex: 1;
        justify-content: center;
        opacity: 0.32;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }

    & :global(.ant-tabs-tab-active) {
        opacity: 1;
    }
}

.image {
    display: block;
    width: auto;
}

.hyperlaneTitle {
    font-size: 16px;
    font-weight: 600;
}

.hyperlane {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 5px;
}

@media screen and (max-width: $breakpoint-mobile) {
    .tabs {
        & :global(.ant-tabs-nav-list .ant-tabs-tab) {
            padding: 2px 0 !important;
        }
    }
}