.refuelCostBanner {
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(0, 0, 0, 0.12) url("/bg/gas-pump.png") no-repeat right 33px center;
  display: flex;
  padding: 4px 8px;
  min-height: 28px;
  margin-bottom: 8px;

  &Label {
    font-weight: 600;

    span {
      color: rgba(255, 255, 255, 0.32);
    }
  }
}

.refuelInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;

  &Item {
    line-height: 1;
  }

  &Name {
    color: rgba(255, 255, 255, 0.64);
  }

  &Price {
    font-weight: 500;
  }
}

.maxButton {
  color: rgba(176, 135, 243, 0.64);
  font-size: 14px;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
}

.input {
  height: 58px;
  font-size: 22px;
  font-weight: 600;
  font-family: inherit;
  padding-left: 16px;
  padding-right: 16px;
}

.maxRefuel {
  color: rgba(255, 255, 255, 0.64);
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  margin-top: 4px;
}

.amount {
  :global label {
    width: 100%;

    & > div {
      width: 100%;
    }
  }
}