.account {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.accountLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.accountMain {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

.card {
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.cardTitle {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.64);
}

.divider {
    height: 1px;
    margin: 12px 0;
    background: rgba(255, 255, 255, 0.12);
}

.subscribeInfo {
    font-size: 14px;
    color: rgba(255,255,255,.64);
    line-height: 20px;
}

.connectButton {
    background: transparent;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(2px);
    width: 100%;
    color: #fff;
    padding: 9px 20px;
    cursor: pointer;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 14px;
    font-weight: 600;
}

.disconnectButton {
    border: none;
    background: transparent;
    color: rgba(176, 135, 243, 0.64);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    font-family: inherit;
}

.twitterAccount {
    max-width: 252px;
}

.twitterUsername {
    overflow: hidden;
    text-overflow: ellipsis;
}

.rewardsList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.rewardItemName {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.64);
}

.rewardItemCount {
    font-size: 14px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.rewardItemTotal .rewardItemName {
    font-size: 14px;
}

.rewardItemTotal .rewardItemCount {
    font-size: 16px;
    font-weight: 700;
}

.walletConnector {
}

.userName {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
}

.userAddress {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.40);
}

.userAddress svg {
    color: rgba(255, 255, 255, 0.40);
    width: 18px;
    height: 18px;
}

.connector h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.connectorAddress {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
}

.closeIcon {
    display: none;
    padding: 8px;
    margin-left: auto;
    cursor: pointer;
}

.refferalLinkControl {
    cursor: pointer;
    margin-bottom: 0 !important;

    input {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.32);
        height: 42px;
        text-align: center;
        padding-right: 16px;
        font-weight: 500;
        line-height: 16px;
    }
}

.disconnectAccountButton {
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    opacity: 0.48;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    transition: .3s;

    &:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 1320px) {
    .closeIcon {
        display: block;
    }
}