.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 36px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    opacity: 0.32;
    font-size: 14px;
    transition: 0.3s ease-out;
    font-weight: 600;
}

.link:hover {
    opacity: 1;
    transform: translateY(-2px);
}

.poweredBy {
    font-weight: 400;
}

@media screen and (max-width: 1320px) {
    .link span {
        display: none;
    }

    .link span.poweredBy {
        display: inline;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 0 16px 16px 16px;
        gap: 16px;
    }
}