.control:first-of-type,
.control + .control {
    margin-bottom: 24px;
}

.header {
    margin-bottom: 8px;
}

.title {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.64);
}

.optional {
    font-weight: 400;
    opacity: 0.64;
    font-size: 14px;
}

.extra {
    font-size: 14px;
    opacity: 0.64;
    margin: 0;
    padding-top: 8px;
}

.alert {
    padding-top: 8px;
    color: #e03636;
    font-size: 12px;
}