@import './../../../utils/mediaBreakpoints/mediaBreakpointsVariables.scss';

.card {
  position: relative;
}

.cardHead {
  padding-bottom: 16px;
}

.cardHeadTitle {
  font-size: 24px;
  font-weight: 600;
}

.cardBody {
  padding: 24px;
  border-radius: 12px;
  border: 2px solid #b087f3;
  background: linear-gradient(139deg, #191521, #29174e);
}

.cardHead + .cardBody {
  padding-top: 24px;
}

.loading .cardBody {
  opacity: 0.45;
  pointer-events: none;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: $breakpoint-tablet) {
  .card {
    padding: 16px;
  }

  .cardHead {
    padding-bottom: 20px;
  }

  .cardHeadTitle {
    font-size: 20px;
  }

  .cardHead + .cardBody {
    padding-top: 20px;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .card {
    padding: 0;
  }

  .cardHead + .cardBody {
    padding: 16px;
  }

  .cardHead {
    padding-bottom: 16px;
  }
}
