.switch {
    min-width: 36px !important;
    height: 18px !important;
    border-radius: 12px !important;
    border: 1px solid rgba(255, 255, 255, 0.16);
    background: rgba(255, 255, 255, 0.08);

}
.switch:hover:not(.ant-switch-disabled) {
    background: rgba(240, 240, 240, 0.12);
}

.label {
    color: rgba(255, 255, 255, 0.64);
}

.price {
    opacity: 0.64;
    cursor: pointer;
}

.price img {
    width: 16px;
    height: 16px;
}

.switch :global(.ant-switch-handle) {
    width: 13px !important;
    height: 13px !important;
    top: 2px !important;
    inset-inline-start: 4px !important;
}

.switch :global(.ant-switch-checked) {
    border: 1px solid #B087F3;
    background: rgba(176, 135, 243, 0.08) !important;
    box-shadow: 0px 0px 4px 0px #B087F3 inset, 0px 0px 12px 0px rgba(176, 135, 243, 0.32);
}

.switch :global(.ant-switch-handle):before {
    background-color: #B087F3 !important;
}

.switch:global(.ant-switch-checked .ant-switch-handle) {
    inset-inline-start: calc(100% - 16px) !important;
}