.switch {
    min-width: 40px !important;
    height: 20px !important;
    border-radius: 12px !important;
    background: rgba(240, 240, 240, 0.12);
}
.switch:hover:not(.ant-switch-disabled) {
    background: rgba(240, 240, 240, 0.12);
}

.label {
    color: rgba(255, 255, 255, 0.64);
}

.price {
    opacity: 0.64;
    cursor: pointer;
}

.price img {
    width: 16px;
    height: 16px;
}

.switch :global(.ant-switch-handle) {
    width: 12px !important;
    height: 12px !important;
    top: 4px !important;
    inset-inline-start: 4px !important;
}

.switch :global(.ant-switch-checked) {
    background: linear-gradient(122deg, #2EA5FB 9.89%, #4340E1 73.1%) !important;
}

.switch :global(.ant-switch-handle):before {
    background-color: #f0f0f0 !important;
}

.switch:global(.ant-switch-checked .ant-switch-handle) {
    inset-inline-start: calc(100% - 16px) !important;
}