.page {
    max-width: 610px;
    margin: auto;
}

.title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.tabs {
    :global(.ant-tabs-nav-list) {
        width: 100%;
    }

    :global(.ant-tabs-tab) {
        flex: 1;
        justify-content: center;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }
}